<h3>Registration</h3>
<hr>
<div class="col-12 col-lg-6 offset-lg3 kozep">
<div class="alert hide" id="alertDiv" role="alert"></div>

<div class="form-floating mb-3 ">
    <input type="text" class="form-control" id="nameField">
    <label for="nameField">Név</label>
</div>

<div class="form-floating mb-3 ">
    <input type="email" class="form-control" id="emailField">
    <label for="emailField">Email cím</label>
</div>

<div class="form-floating mb-3">
    <input type="password" class="form-control" id="passField">
    <label for="passField">Jelszó</label>
</div>

<div class="form-floating mb-3">
    <input type="password" class="form-control" id="confirmpassField">
    <label for="confirmpassField">Jelszó megerősítése</label>
</div>
  
<button class="btn btn-primary mb-3" id="RegisterBtn" onclick="Register()">Register</button>
</div>  
<hr>    