<h3>Profil</h3>
<hr>
<div class="row kozep">
<div class="alert hide" id="alertDiv" role="alert"></div>

<div class="col-6">
    <div class="form-floating mb-3 ">
        <input type="text" class="form-control" id="nameField">
        <label for="nameField">Név</label>
    </div>

    <div class="form-floating mb-3 ">
        <input type="email" class="form-control" id="emailField">
        <label for="emailField">Email cím</label>
    </div>
</div>

<div class="col-6">
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="oldpassField" placeholder="Old Password">
        <label for="passField">Régi jelszó</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="newpassField" placeholder="New Password">
        <label for="passField">Új jelszó</label>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="confirmpassField" placeholder="Confirm Password">
        <label for="passField">Jelszó megerősítése</label>
    </div>
</div>
<button class="btn btn-primary mb-3 col-4 kozep" id="loginBtn" onclick="UpdateUser()">Profil frissítése</button>
<button class="btn btn-primary mb-3 col-4 kozep" id="loginBtn" onclick="UpdatePassword()">Jelszó változtatása</button>
</div>  
</div>  
<hr>    