header{
    padding: 30px;
    text-align: center;
}
.title{
    font-weight: bolder;
}
.subtitle{
    font-style: italic;
}
#themebtns{
    position: absolute;
    top:0;
    right:0;
    padding: 10px;
    font-size: larger;
}
.hide{
    display: none;
}
main{
    text-align: center;
    padding: 20px 0;
}
footer{
    text-align: center;
}
.kozep{
    margin: 0 auto;
}
img{
	pointer-events: none;
}
.nav-link{
    transition: 500ms;
}
.form-floating{
    transition: 500ms;
}
.btn{
    transition: 500ms;
}
.btn:hover{
    transform: scale(1.05);
}

.nav-link:hover{
    transform: scale(1.05);
    font-weight: bolder;
    cursor: pointer;
}
.form-floating:hover{
    transform: scale(1.05);
}
.row{

    padding: 3%;
}
.fc .fc-button-primary{
    background-color: black;
}
.moka img{
    height: 50px;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes spin { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}